<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../css/wing.min.css">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>

    <!-- Body -->
    <div class="row list">
        <div class="col">

            <ul id="list">

                <li class="link create" data-fp="create">Create Task</li>

            </ul>

        </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../controllers/utils.js"></script>
    <script src="../controllers/list.js"></script>
</body>
</html>
