<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../css/wing.min.css">
    <link rel="stylesheet" href="../css/theme.css">
</head>
<body>

    <!-- Body -->
    <div class="row view">
        <div class="col">

            <div class="loader">
                <div class="loading center"></div>
            </div>

            <div class="after-load">
                <label for="task">
                    <textarea id="task"></textarea>
                </label>
                <div class="task-info">
                    <p class="created"></p>
                </div>

                <ul id="list">
                    <li class="hover save">Save</li>
                    <li class="hover">Finish</li>
                    <li class="hover Delete">Delete</li>
                    <li class="link hover" data-fp="list">Back</li>
                </ul>
            </div>

        </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../controllers/utils.js"></script>
    <script src="../controllers/view.js"></script>
</body>
</html>
