.hover:hover {
  cursor: pointer; }

.loading {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #69140eff;
  /* Blue */
  border-radius: 50%;
  border-width: 4px;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; }
  .loading.center {
    margin: auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

html, body {
  color: #3c1518ff; }

#list {
  list-style-type: none; }
  #list li {
    padding: 16px 0 5px 0;
    border-bottom: 1px solid #d58936ff;
    width: 90%; }
    #list li.create:hover {
      cursor: pointer; }

textarea {
  width: 87%;
  font-size: 16px; }

.view input#title {
  width: 97%;
  font-size: 16px;
  outline: none;
  border: 1px solid #a44200ff;
  border-radius: 6px;
  padding-left: 8px; }

.view textarea#task {
  border: 1px solid #d58936ff;
  padding: 10px;
  width: 92%;
  border-radius: 8px;
  resize: vertical; }

.view .task-info {
  text-align: center;
  font-size: 12px; }
  .view .task-info p {
    margin: -10px 0 25px; }

.loader {
  top: 43%;
  position: absolute;
  left: 47%; }

.after-load {
  display: none; }
