html, body {
  color: $dark-sienna;
}

.list {

}

#list {
  list-style-type: none;

  li {
    padding: 16px 0 5px 0;
    //padding-bottom: 5px;
    border-bottom: 1px solid $bronze;
    width: 90%;

    &.create:hover {
      cursor: pointer;
    }
  }
}

textarea {
  width: 87%;
  font-size: 16px;
}

.create {

}

.view {

  input#title {
    width: 97%;
    font-size: 16px;
    outline: none;
    border: 1px solid $rust;
    border-radius: 6px;
    padding-left: 8px;
  }

  textarea#task {
    border: 1px solid $bronze;
    padding: 10px;
    width: 92%;
    border-radius: 8px;
    resize: vertical;
  }

  .task-info {
    text-align: center;
    font-size: 12px;
    p {
      margin: -10px 0 25px;
    }
  }

}

.loader {
  top: 43%;
  position: absolute;
  left: 47%;
}

.after-load {
  display: none;
}